# Pandas基础

### 七月在线python数据分析班 2017升级版 julyedu.com

pandas是一个专门用于数据分析的python library，pandas的开发基于numpy，所以pandas的各种功能和numpy很像，也是一个运行效率很高的library。

## Pandas简介
- python数据分析library [Pandas](http://pandas.pydata.org/)
- 有一种用python做Excel和SQL的感觉

## 数据结构Series

### 七月在线python数据分析班 2017升级版 julyedu.com

### 构造和初始化Series

In [64]:
import pandas as pd
import numpy as np
pd.set_option("max_columns", 50)

In [ ]:
Series是一个一维的数据结构

In [65]:
s = pd.Series([7, 'Beijing', 2.17, -12344, 'Happy Birthday!'])
s

0                  7
1            Beijing
2               2.17
3             -12344
4    Happy Birthday!
dtype: object

pandas会默认用0到n来作为Series的index，但是我们也可以自己指定index。

In [10]:
s = pd.Series([7, 'Beijing', 2.17, -12344, 'Happy Birthday!'],
             index=['A', 'B', 'C', 'D', 'E'])
s

A                  7
B            Beijing
C               2.17
D             -12344
E    Happy Birthday!
dtype: object

还可以用dictionary来构造一个Series，因为Series本来就是key value pairs。

In [33]:
cities = {'Beijing': 55000, 'Shanghai': 60000, 'Shenzhen': 50000, 'Hangzhou': 20000, 'Guangzhou': 25000, 'Suzhou': None}
apts = pd.Series(cities)
apts

Beijing      55000.0
Guangzhou    25000.0
Hangzhou     20000.0
Shanghai     60000.0
Shenzhen     50000.0
Suzhou           NaN
dtype: float64

### 选择数据

前面定义的index就是用来选择数据的

In [34]:
apts["Hangzhou"]

20000.0

In [35]:
apts[["Hangzhou", "Beijing", "Shenzhen"]]

Hangzhou    20000.0
Beijing     55000.0
Shenzhen    50000.0
dtype: float64

大家还记得上次numpy讲到的boolean indexing吗？pandas当中也可以使用。

In [36]:
apts[apts < 50000]

Guangzhou    25000.0
Hangzhou     20000.0
dtype: float64

下面我再详细展示一下这个boolean indexing是如何工作的

In [37]:
less_than_50000 = apts < 50000
print(less_than_50000)
print()
print(apts[less_than_50000])

Beijing      False
Guangzhou     True
Hangzhou      True
Shanghai     False
Shenzhen     False
Suzhou       False
dtype: bool

Guangzhou    25000.0
Hangzhou     20000.0
dtype: float64

### Series元素赋值

Series的元素可以被赋值

In [38]:
print("Old value: ", apts['Shenzhen'])
apts['Shenzhen'] = 55000
print("New value: ", apts['Shenzhen'])

Old value:  50000.0
New value:  55000.0

前面讲过的boolean indexing在赋值的时候也可以用

In [39]:
print(apts[apts < 50000])
print()
apts[apts <= 50000] = 40000
print(apts[apts < 50000])

Guangzhou    25000.0
Hangzhou     20000.0
dtype: float64

Guangzhou    40000.0
Hangzhou     40000.0
dtype: float64

https://github.com/obust/Pandas-Tutorial/blob/master/Pandas%20I%20-%20Series%20and%20DataFrames.ipynb

### 数学运算

下面我们来讲一些基本的数学运算。

In [40]:
apts / 2

Beijing      27500.0
Guangzhou    20000.0
Hangzhou     20000.0
Shanghai     30000.0
Shenzhen     27500.0
Suzhou           NaN
dtype: float64

In [41]:
np.square(apts)

Beijing      3.025000e+09
Guangzhou    1.600000e+09
Hangzhou     1.600000e+09
Shanghai     3.600000e+09
Shenzhen     3.025000e+09
Suzhou                NaN
dtype: float64

In [31]:
cars = pd.Series({'Beijing': 300000, 'Shanghai': 400000, 'Shenzhen': 300000, \
                      'Tianjin': 200000, 'Guangzhou': 200000, 'Chongqing': 150000})
cars

Beijing      300000
Chongqing    150000
Guangzhou    200000
Shanghai     400000
Shenzhen     300000
Tianjin      200000
dtype: int64

In [42]:
print(cars + apts * 100)

Beijing      5800000.0
Chongqing          NaN
Guangzhou    4200000.0
Hangzhou           NaN
Shanghai     6400000.0
Shenzhen     5800000.0
Suzhou             NaN
Tianjin            NaN
dtype: float64

### 数据缺失

In [44]:
print('Hangzhou' in apts)
print('Hangzhou' in cars)

True
False

In [45]:
apts.notnull()

Beijing       True
Guangzhou     True
Hangzhou      True
Shanghai      True
Shenzhen      True
Suzhou       False
dtype: bool

In [46]:
print(apts.isnull())
print()
print(apts[apts.isnull()])

Beijing      False
Guangzhou    False
Hangzhou     False
Shanghai     False
Shenzhen     False
Suzhou        True
dtype: bool

Suzhou   NaN
dtype: float64

## 数据结构Dataframe

一个Dataframe就是一张表格，Series表示的是一维数组，Dataframe则是一个二维数组，可以类比成一张excel的表格。也可以把Dataframe当做一个一组Series的集合。

dataframe可以由一个dictionary构造得到。

In [66]:
data = {'city': ['Beijing', 'Shanghai', 'Guangzhou', 'Shenzhen', 'Hangzhou', 'Chongqing'],
       'year': [2016,2017,2016,2017,2016, 2016],
       'population': [2100, 2300, 1000, 700, 500, 500]}
print(pd.DataFrame(data))
print(pd.DataFrame(data, columns=['year', 'city', 'population']))

        city  population  year
0    Beijing        2100  2016
1   Shanghai        2300  2017
2  Guangzhou        1000  2016
3   Shenzhen         700  2017
4   Hangzhou         500  2016
5  Chongqing         500  2016
   year       city  population
0  2016    Beijing        2100
1  2017   Shanghai        2300
2  2016  Guangzhou        1000
3  2017   Shenzhen         700
4  2016   Hangzhou         500
5  2016  Chongqing         500

In [68]:
frame2 = pd.DataFrame(data, \
                     columns = ['year', 'city', 'population', 'debt'],
                     index = ['one', 'two', 'three', 'four', 'five', 'six'])
print(frame2)

       year       city  population debt
one    2016    Beijing        2100  NaN
two    2017   Shanghai        2300  NaN
three  2016  Guangzhou        1000  NaN
four   2017   Shenzhen         700  NaN
five   2016   Hangzhou         500  NaN
six    2016  Chongqing         500  NaN

In [69]:
print(frame2['city'])
print(frame2.year)
print(frame2.ix['three'])

one        Beijing
two       Shanghai
three    Guangzhou
four      Shenzhen
five      Hangzhou
six      Chongqing
Name: city, dtype: object
one      2016
two      2017
three    2016
four     2017
five     2016
six      2016
Name: year, dtype: int64
year               2016
city          Guangzhou
population         1000
debt                NaN
Name: three, dtype: object

下面我们来更改DataFrame里的值

In [70]:
frame2['debt'] = 100
print(frame2)

       year       city  population  debt
one    2016    Beijing        2100   100
two    2017   Shanghai        2300   100
three  2016  Guangzhou        1000   100
four   2017   Shenzhen         700   100
five   2016   Hangzhou         500   100
six    2016  Chongqing         500   100

In [72]:
frame2.debt = np.arange(6)
print(frame2)

       year       city  population  debt
one    2016    Beijing        2100     0
two    2017   Shanghai        2300     1
three  2016  Guangzhou        1000     2
four   2017   Shenzhen         700     3
five   2016   Hangzhou         500     4
six    2016  Chongqing         500     5

还可以用Series来指定需要修改的index以及相对应的value，没有指定的默认用NaN.

In [73]:
val = pd.Series([100, 200, 300], index=['two', 'three', 'five'])
frame2['debt'] = val
print(frame2)

       year       city  population   debt
one    2016    Beijing        2100    NaN
two    2017   Shanghai        2300  100.0
three  2016  Guangzhou        1000  200.0
four   2017   Shenzhen         700    NaN
five   2016   Hangzhou         500  300.0
six    2016  Chongqing         500    NaN

In [74]:
frame2['western'] = (frame2.city == 'Chongqing')
print(frame2)

       year       city  population   debt western
one    2016    Beijing        2100    NaN   False
two    2017   Shanghai        2300  100.0   False
three  2016  Guangzhou        1000  200.0   False
four   2017   Shenzhen         700    NaN   False
five   2016   Hangzhou         500  300.0   False
six    2016  Chongqing         500    NaN    True

In [75]:
print(frame2.columns)

Index(['year', 'city', 'population', 'debt', 'western'], dtype='object')

一个DataFrame就和一个numpy 2d array一样，可以被转置

In [77]:
pop = {'Beijing': {2016: 2100, 2017:2200},
      'Shanghai': {2015:2400, 2016:2500, 2017:2600}}

In [78]:
frame3 = pd.DataFrame(pop)
print(frame3)
print(frame3.T)

      Beijing  Shanghai
2015      NaN      2400
2016   2100.0      2500
2017   2200.0      2600
            2015    2016    2017
Beijing      NaN  2100.0  2200.0
Shanghai  2400.0  2500.0  2600.0

指定index的顺序，以及使用切片初始化数据

In [80]:
print(pd.DataFrame(pop, index=[2015,2016,2017]))

      Beijing  Shanghai
2015      NaN      2400
2016   2100.0      2500
2017   2200.0      2600

In [82]:
pdata = {'Beijing': frame3['Beijing'][:-1], 'Shanghai':frame3['Shanghai'][:-1]}
print(pd.DataFrame(pdata))

      Beijing  Shanghai
2015      NaN      2400
2016   2100.0      2500

我们还可以指定index的名字和列的名字

In [84]:
frame3.index.name = 'year'
frame3.columns.name = 'city'
print(frame3)

city  Beijing  Shanghai
year
2015      NaN      2400
2016   2100.0      2500
2017   2200.0      2600

In [87]:
print(frame3.values)
print(frame2)
print(type(frame2.values))

[[   nan  2400.]
 [ 2100.  2500.]
 [ 2200.  2600.]]
       year       city  population   debt western
one    2016    Beijing        2100    NaN   False
two    2017   Shanghai        2300  100.0   False
three  2016  Guangzhou        1000  200.0   False
four   2017   Shenzhen         700    NaN   False
five   2016   Hangzhou         500  300.0   False
six    2016  Chongqing         500    NaN    True
<class 'numpy.ndarray'>

### index object

In [24]:
obj = pd.Series(range(3), index = ['a', 'b', 'c'])
index = obj.index
print(index[1:])

Index(['b', 'c'], dtype='object')

In [91]:
index[1] = 'd'

TypeError: Index does not support mutable operations

In [92]:
index = pd.Index(np.arange(3))
obj2 = pd.Series([2,5,7], index=index)
print(obj2)
print(obj2.index is index)

0    2
1    5
2    7
dtype: int64
True

In [93]:
pop = {'Beijing': {2016: 2100, 2017:2200},
      'Shanghai': {2015:2400, 2016:2500, 2017:2600}}
frame3 = pd.DataFrame(pop)
print('Shanghai' in frame3.columns)
print('2015' in frame3.index)

True
False

In [94]:
print(2 in obj2.index)

True

### 针对index进行索引和切片

In [26]:
obj = pd.Series(np.arange(4), index=['a', 'b', 'c', 'd'])
print(obj['b'])

1

默认的数字index依旧可以使用

In [29]:
print(obj[3])
print()
print(obj[[1,3]])

3

b    1
d    3
dtype: int32

In [30]:
print(obj[obj<2])

a    0
b    1
dtype: int32

下面介绍如何对Series进行切片

In [31]:
print(obj['b':'c'])
obj['b':'c'] = 5
print(obj)

b    1
c    2
dtype: int32
a    0
b    5
c    5
d    3
dtype: int32

对DataFrame进行Indexing与Series基本相同

In [33]:
frame = pd.DataFrame(np.arange(9).reshape(3,3), 
                    index = ['a', 'c', 'd'],
                    columns = ['Hangzhou', 'Shenzhen', 'Nanjing'])

In [35]:
print(frame)

   Hangzhou  Shenzhen  Nanjing
a         0         1        2
c         3         4        5
d         6         7        8

In [37]:
print(frame['Hangzhou'])

a    0
c    3
d    6
Name: Hangzhou, dtype: int32

In [39]:
print(frame[['Shenzhen', 'Nanjing']])

   Shenzhen  Nanjing
a         1        2
c         4        5
d         7        8

In [40]:
print(frame[:2])

   Hangzhou  Shenzhen  Nanjing
a         0         1        2
c         3         4        5

In [43]:
print(frame.ix['a'])

Hangzhou    0
Shenzhen    1
Nanjing     2
Name: a, dtype: int32

In [45]:
print(frame.ix[['a','d'], ['Shenzhen', 'Nanjing']])

   Shenzhen  Nanjing
a         1        2
d         7        8

In [46]:
print(frame.ix[:'c', 'Hangzhou'])

a    0
c    3
Name: Hangzhou, dtype: int32

DataFrame也可以用condition selection

In [47]:
print(frame[frame.Hangzhou > 1])

   Hangzhou  Shenzhen  Nanjing
c         3         4        5
d         6         7        8

In [48]:
print(frame < 5)

  Hangzhou Shenzhen Nanjing
a     True     True    True
c     True     True   False
d    False    False   False

In [49]:
frame[frame < 5] = 0
print(frame)

   Hangzhou  Shenzhen  Nanjing
a         0         0        0
c         0         0        5
d         6         7        8

### [reindex](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reindex.html)

把一个Series或者DataFrame按照新的index顺序进行重排

In [3]:
import numpy as np
import pandas as pd

In [4]:
obj = pd.Series([4.5, 7.2, -5.3, 3.2], index=['d', 'b', 'a', 'c'])
print(obj)

d    4.5
b    7.2
a   -5.3
c    3.2
dtype: float64

In [5]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
print(obj2)

a   -5.3
b    7.2
c    3.2
d    4.5
e    NaN
dtype: float64

In [6]:
print(obj.reindex(['a', 'b', 'c', 'd', 'e'], fill_value = 0))

a   -5.3
b    7.2
c    3.2
d    4.5
e    0.0
dtype: float64

In [7]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index = [0,2,4])
print(obj3)

0      blue
2    purple
4    yellow
dtype: object

In [8]:
print(obj3.reindex(range(6), method='ffill'))

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [9]:
print(obj3.reindex(range(6), method='bfill'))

0      blue
1    purple
2    purple
3    yellow
4    yellow
5       NaN
dtype: object

既然我们可以对Series进行reindex，相应地，我们也可以用同样的方法对DataFrame进行reindex。

In [15]:
frame = pd.DataFrame(np.arange(9).reshape(3,3), 
                    index = ['a', 'c', 'd'],
                    columns = ['Hangzhou', 'Shenzhen', 'Nanjing'])
print(frame)

   Hangzhou  Shenzhen  Nanjing
a         0         1        2
c         3         4        5
d         6         7        8

In [16]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
print(frame2)

   Hangzhou  Shenzhen  Nanjing
a       0.0       1.0      2.0
b       NaN       NaN      NaN
c       3.0       4.0      5.0
d       6.0       7.0      8.0

在reindex的同时，我们还可以重新指定columns

In [10]:
print(frame.reindex(columns = ['Shenzhen', 'Hangzhou', 'Chongqing']))

   Shenzhen  Hangzhou  Chongqing
a         1         0        NaN
c         4         3        NaN
d         7         6        NaN

In [18]:
print(frame.reindex(index = ['a', 'b', 'c', 'd'],
                    method = 'ffill',
                    columns = ['Shenzhen', 'Hangzhou', 'Chongqing']))
print(frame.ix[['a', 'b', 'd', 'c'], ['Shenzhen', 'Hangzhou', 'Chongqing']])

   Shenzhen  Hangzhou  Chongqing
a         1         0        NaN
b         1         0        NaN
c         4         3        NaN
d         7         6        NaN
   Shenzhen  Hangzhou  Chongqing
a       1.0       0.0        NaN
b       NaN       NaN        NaN
d       7.0       6.0        NaN
c       4.0       3.0        NaN

In [ ]:
下面介绍如何用drop来删除Series和DataFrame中的index

In [12]:
print(obj3)
obj4 = obj3.drop(2)
print(obj4)

0      blue
2    purple
4    yellow
dtype: object
0      blue
4    yellow
dtype: object

In [13]:
print(obj3.drop([2,4]))

0    blue
dtype: object

In [19]:
print(frame)

   Hangzhou  Shenzhen  Nanjing
a         0         1        2
c         3         4        5
d         6         7        8

In [20]:
print(frame.drop(['a', 'c']))

   Hangzhou  Shenzhen  Nanjing
d         6         7        8

drop不仅仅可以删除行，还可以删除列

In [22]:
print(frame.drop('Shenzhen', axis=1))

   Hangzhou  Nanjing
a         0        2
c         3        5
d         6        8

In [23]:
print(frame.drop(['Shenzhen', 'Hangzhou'], axis=1))

   Nanjing
a        2
c        5
d        8

#### hierarchical index

In [2]:
import numpy as np
import pandas as pd

Series的hierarchical indexing

In [4]:
data = pd.Series(np.random.randn(10), index=[['a','a','a','b','b','c','c','c','d','d'], [1,2,3,1,2,1,2,3,1,2]])
print(data)

a  1   -0.571858
   2   -0.542655
   3    0.030569
b  1    0.641165
   2    0.174197
c  1   -0.368307
   2    2.280507
   3    0.683652
d  1    0.152338
   2    0.237398
dtype: float64

In [5]:
print(data.index)

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2, 2, 3, 3], [0, 1, 2, 0, 1, 0, 1, 2, 0, 1]])

In [6]:
print(data.b)

1    0.641165
2    0.174197
dtype: float64

In [7]:
print(data['b':'c'])

b  1    0.641165
   2    0.174197
c  1   -0.368307
   2    2.280507
   3    0.683652
dtype: float64

In [8]:
print(data[:2])

a  1   -0.571858
   2   -0.542655
dtype: float64

unstack和stack可以帮助我们在hierarchical indexing和DataFrame之间进行切换。

In [10]:
print(data.unstack())

          1         2         3
a -0.571858 -0.542655  0.030569
b  0.641165  0.174197       NaN
c -0.368307  2.280507  0.683652
d  0.152338  0.237398       NaN

In [20]:
print(data.unstack().stack())

a  1   -0.571858
   2   -0.542655
   3    0.030569
b  1    0.641165
   2    0.174197
c  1   -0.368307
   2    2.280507
   3    0.683652
d  1    0.152338
   2    0.237398
dtype: float64

In [22]:
print(type(data.unstack()))

<class 'pandas.core.frame.DataFrame'>

DataFrame的hierarchical indexing

In [25]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)),
                    index = [['a','a','b','b'], [1,2,1,2]],
                    columns = [['Beijing', 'Beijing', 'Shanghai'], ['apts', 'cars', 'apts']])
print(frame)

    Beijing      Shanghai
       apts cars     apts
a 1       0    1        2
  2       3    4        5
b 1       6    7        8
  2       9   10       11

In [28]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['city', 'type']
print(frame)

city      Beijing      Shanghai
type         apts cars     apts
key1 key2
a    1          0    1        2
     2          3    4        5
b    1          6    7        8
     2          9   10       11

In [29]:
print(frame.ix['a', 1])

city      type
Beijing   apts    0
          cars    1
Shanghai  apts    2
Name: (a, 1), dtype: int32

In [30]:
print(frame.ix['a', 2]['Beijing'])

type
apts    3
cars    4
Name: (a, 2), dtype: int32

In [31]:
print(frame.ix['a', 2]['Beijing']['apts'])

3

## 关于Merge, Join和Concatenate

### 七月在线python数据分析班 2017升级版 julyedu.com

http://pandas.pydata.org/pandas-docs/stable/merging.html

In [32]:
df1 = pd.DataFrame({'apts': [55000, 60000],
                   'cars': [200000, 300000],},
                  index = ['Shanghai', 'Beijing'])
print(df1)

           apts    cars
Shanghai  55000  200000
Beijing   60000  300000

In [33]:
df2 = pd.DataFrame({'apts': [25000, 20000],
                   'cars': [150000, 120000],},
                  index = ['Hangzhou', 'Najing'])
print(df2)

           apts    cars
Hangzhou  25000  150000
Najing    20000  120000

In [34]:
df3 = pd.DataFrame({'apts': [30000, 10000],
                   'cars': [180000, 100000],},
                  index = ['Guangzhou', 'Chongqing'])
print(df3)

            apts    cars
Guangzhou  30000  180000
Chongqing  10000  100000

In [35]:
frames = [df1, df2, df3]
result = pd.concat(frames)
print(result)

            apts    cars
Shanghai   55000  200000
Beijing    60000  300000
Hangzhou   25000  150000
Najing     20000  120000
Guangzhou  30000  180000
Chongqing  10000  100000

在concatenate的时候可以指定keys，这样可以给每一个部分加上一个Key。

以下的例子就构造了一个hierarchical index。

In [36]:
result2 = pd.concat(frames, keys=['x', 'y', 'z'])
print(result2)

              apts    cars
x Shanghai   55000  200000
  Beijing    60000  300000
y Hangzhou   25000  150000
  Najing     20000  120000
z Guangzhou  30000  180000
  Chongqing  10000  100000

result2.ix['y']

In [37]:
df4 = pd.DataFrame({'salaries': [10000, 30000, 30000, 20000, 15000]},
                  index = ['Suzhou', 'Beijing', 'Shanghai', 'Guangzhou', 'Tianjin'])
print(df4)

           salaries
Suzhou        10000
Beijing       30000
Shanghai      30000
Guangzhou     20000
Tianjin       15000

In [38]:
result3 = pd.concat([result, df4], axis=1)
print(result3)

              apts      cars  salaries
Beijing    60000.0  300000.0   30000.0
Chongqing  10000.0  100000.0       NaN
Guangzhou  30000.0  180000.0   20000.0
Hangzhou   25000.0  150000.0       NaN
Najing     20000.0  120000.0       NaN
Shanghai   55000.0  200000.0   30000.0
Suzhou         NaN       NaN   10000.0
Tianjin        NaN       NaN   15000.0

In [19]:
print(result3.stack())

Beijing    apts         60000.0
           cars        300000.0
           salaries     30000.0
Chongqing  apts         10000.0
           cars        100000.0
Guangzhou  apts         30000.0
           cars        180000.0
           salaries     20000.0
Hangzhou   apts         25000.0
           cars        150000.0
Najing     apts         20000.0
           cars        120000.0
Shanghai   apts         55000.0
           cars        200000.0
           salaries     30000.0
Suzhou     salaries     10000.0
Tianjin    salaries     15000.0
dtype: float64

In [84]:
result3 = pd.concat([result, df4], axis=1, join='inner')
print(result3)

            apts    cars  salaries
Beijing    60000  300000     30000
Shanghai   55000  200000     30000
Guangzhou  30000  180000     20000

#### 用append来做concatenation

In [85]:
print(df1.append(df2))

           apts    cars
Shanghai  55000  200000
Beijing   60000  300000
Hangzhou  25000  150000
Najing    20000  120000

In [88]:
print(df1.append(df4))

              apts      cars  salaries
Shanghai   55000.0  200000.0       NaN
Beijing    60000.0  300000.0       NaN
Suzhou         NaN       NaN   10000.0
Beijing        NaN       NaN   30000.0
Shanghai       NaN       NaN   30000.0
Guangzhou      NaN       NaN   20000.0
Tianjin        NaN       NaN   15000.0

Series和DataFrame还可以被一起concatenate，这时候Series会先被转成DataFrame然后做Join，因为Series本来就是一个只有一维的DataFrame对吧。

In [89]:
s1 = pd.Series([60, 50], index=['Shanghai', 'Beijing'], name='meal')
print(s1)

Shanghai    60
Beijing     50
Name: meal, dtype: int64

In [90]:
print(pd.concat([df1, s1], axis=1))

           apts    cars  meal
Shanghai  55000  200000    60
Beijing   60000  300000    50

下面讲如何append一个row到DataFrame里。

In [94]:
s2 = pd.Series([18000, 12000], index=['apts', 'cars'], name='Xiamen') #注意这里的name是必须要有的，因为要用作Index。
print(s2)

apts    18000
cars    12000
Name: Xiamen, dtype: int64

In [95]:
print(df1.append(s2))

           apts    cars
Shanghai  55000  200000
Beijing   60000  300000
Xiamen    18000   12000

### Merge(Join)
### 七月在线python数据分析班 2017升级版 julyedu.com

In [39]:
print(df1)
print()
print(df4)

           apts    cars
Shanghai  55000  200000
Beijing   60000  300000

           salaries
Suzhou        10000
Beijing       30000
Shanghai      30000
Guangzhou     20000
Tianjin       15000

In [50]:
df1 = pd.DataFrame({'apts': [55000, 60000, 58000],
                   'cars': [200000, 300000,250000],
                  'cities': ['Shanghai', 'Beijing','Shenzhen']})
print(df1)

    apts    cars    cities
0  55000  200000  Shanghai
1  60000  300000   Beijing
2  58000  250000  Shenzhen

In [52]:
df4 = pd.DataFrame({'salaries': [10000, 30000, 30000, 20000, 15000],
                  'cities': ['Suzhou', 'Beijing', 'Shanghai', 'Guangzhou', 'Tianjin']})
print(df4)

      cities  salaries
0     Suzhou     10000
1    Beijing     30000
2   Shanghai     30000
3  Guangzhou     20000
4    Tianjin     15000

In [53]:
result = pd.merge(df1, df4, on='cities')
print(result)

    apts    cars    cities  salaries
0  55000  200000  Shanghai     30000
1  60000  300000   Beijing     30000

In [54]:
result = pd.merge(df1, df4, on='cities', how='outer')
print(result)

      apts      cars     cities  salaries
0  55000.0  200000.0   Shanghai   30000.0
1  60000.0  300000.0    Beijing   30000.0
2  58000.0  250000.0   Shenzhen       NaN
3      NaN       NaN     Suzhou   10000.0
4      NaN       NaN  Guangzhou   20000.0
5      NaN       NaN    Tianjin   15000.0

In [55]:
result = pd.merge(df1, df4, on='cities', how='right')
print(result)

      apts      cars     cities  salaries
0  55000.0  200000.0   Shanghai     30000
1  60000.0  300000.0    Beijing     30000
2      NaN       NaN     Suzhou     10000
3      NaN       NaN  Guangzhou     20000
4      NaN       NaN    Tianjin     15000

In [56]:
result = pd.merge(df1, df4, on='cities', how='left')
print(result)

    apts    cars    cities  salaries
0  55000  200000  Shanghai   30000.0
1  60000  300000   Beijing   30000.0
2  58000  250000  Shenzhen       NaN

#### join on index

In [57]:
df1 = pd.DataFrame({'apts': [55000, 60000, 58000],
                   'cars': [200000, 300000,250000]},
                  index=['Shanghai', 'Beijing','Shenzhen'])
print(df1)

           apts    cars
Shanghai  55000  200000
Beijing   60000  300000
Shenzhen  58000  250000

In [59]:
df4 = pd.DataFrame({'salaries': [10000, 30000, 30000, 20000, 15000]},
                  index=['Suzhou', 'Beijing', 'Shanghai', 'Guangzhou', 'Tianjin'])
print(df4)

           salaries
Suzhou        10000
Beijing       30000
Shanghai      30000
Guangzhou     20000
Tianjin       15000

In [60]:
print(df1.join(df4))

           apts    cars  salaries
Shanghai  55000  200000   30000.0
Beijing   60000  300000   30000.0
Shenzhen  58000  250000       NaN

In [62]:
print(df1.join(df4, how='outer'))

              apts      cars  salaries
Beijing    60000.0  300000.0   30000.0
Guangzhou      NaN       NaN   20000.0
Shanghai   55000.0  200000.0   30000.0
Shenzhen   58000.0  250000.0       NaN
Suzhou         NaN       NaN   10000.0
Tianjin        NaN       NaN   15000.0

In [63]:
print(pd.merge(df1, df4, left_index=True, right_index=True, how='outer'))

              apts      cars  salaries
Beijing    60000.0  300000.0   30000.0
Guangzhou      NaN       NaN   20000.0
Shanghai   55000.0  200000.0   30000.0
Shenzhen   58000.0  250000.0       NaN
Suzhou         NaN       NaN   10000.0
Tianjin        NaN       NaN   15000.0

## Group By
### 七月在线python数据分析班 2017升级版 julyedu.com

举个栗子，假设我们现在有一张公司每个员工的收入流水。

In [3]:
import pandas as pd
salaries = pd.DataFrame({
    'Name': ['July', 'Chu', 'Chu', 'Lin', 'July', 'July', 'Chu', 'July'],
    'Year': [2016,2016,2016,2016,2017,2017,2017,2017],
    'Salary': [10000,2000,4000,5000,18000,25000,3000,4000],
    'Bonus': [3000,1000,1000,1200,4000,2300,500,1000]
})
print(salaries)

   Bonus  Name  Salary  Year
0   3000  July   10000  2016
1   1000   Chu    2000  2016
2   1000   Chu    4000  2016
3   1200   Lin    5000  2016
4   4000  July   18000  2017
5   2300  July   25000  2017
6    500   Chu    3000  2017
7   1000  July    4000  2017

接下来我给大家演示一下什么叫做Group By

In [9]:
group_by_name = salaries.groupby('Name')

In [11]:
group_by_name.sum()

      Bonus  Salary  Year
Name
Chu    2500    9000  6049
July  10300   57000  8067
Lin    1200    5000  2016

In [12]:
group_by_name_year = salaries.groupby(['Name', 'Year'])
group_by_name_year.sum()

           Bonus  Salary
Name Year
Chu  2016   2000    6000
     2017    500    3000
July 2016   3000   10000
     2017   7300   47000
Lin  2016   1200    5000

In [13]:
group_by_name_year.size()

Name  Year
Chu   2016    2
      2017    1
July  2016    1
      2017    3
Lin   2016    1
dtype: int64

In [15]:
# group_by_name_year.describe()

## READ FROM CSV
### 七月在线python数据分析班 2017升级版 julyedu.com

In [6]:
import pandas as pd
pd.set_option('display.max_columns', 60)

我们先从CSV文件中读取一些数据。

bike.csv记录了Montreal自行车路线的数据，具体有7条路线，数据记录了每条自行车路线每天分别有多少人。

In [13]:
bikes = pd.read_csv('bikes.csv', encoding='latin1')
bikes

    Date;Berri 1;Brébeuf (données non disponibles);Côte-Sainte-Catherine;Maisonneuve 1;Maisonneuve 2;du Parc;Pierre-Dupuy;Rachel1;St-Urbain (données non disponibles)
0                     01/01/2012;35;;0;38;51;26;10;16;
1                     02/01/2012;83;;1;68;153;53;6;43;
2                   03/01/2012;135;;2;104;248;89;3;58;
3                  04/01/2012;144;;1;116;318;111;8;61;
4                  05/01/2012;197;;2;124;330;97;13;95;
5                    06/01/2012;146;;0;98;244;86;4;75;
6                     07/01/2012;98;;2;80;108;53;6;54;
7                     08/01/2012;95;;1;62;98;64;11;63;
8                09/01/2012;244;;2;165;432;198;12;173;
9                10/01/2012;397;;3;238;563;275;18;241;
10               11/01/2012;273;;0;182;443;258;12;194;
11                 12/01/2012;157;;1;134;261;137;9;63;
12                     13/01/2012;75;;0;41;105;64;2;0;
13                      14/01/2012;32;;0;54;56;19;0;1;
14                      15/01/2012;54;;0;33;60;18;0;0;
15                   16/01/2012;168;;2;136;312;137;1;0
16                     17/01/2012;155;;0;86;256;74;0;0
17                     18/01/2012;139;;0;66;188;68;3;0
18                    19/01/2012;191;;1;104;248;79;3;0
19                     20/01/2012;161;;4;96;217;67;1;1
20                       21/01/2012;53;;0;47;70;32;1;0
21                       22/01/2012;71;;0;41;73;35;5;0
22                    23/01/2012;210;;6;114;357;91;6;0
23                   24/01/2012;299;;1;189;444;174;4;0
24                   25/01/2012;334;;1;217;453;180;4;0
25                   26/01/2012;306;;0;215;495;191;0;1
26                      27/01/2012;91;;5;79;204;65;0;0
27                      28/01/2012;80;;1;61;123;33;9;1
28                      29/01/2012;87;;1;65;132;40;7;0
29                   30/01/2012;219;;0;146;371;152;2;0
..                                                 ...
280         07/10/2012;1580;;660;922;1629;860;695;2052
281       08/10/2012;1854;;880;987;1818;1040;1115;2502
282      09/10/2012;4787;;2210;3026;5138;3418;927;4078
283      10/10/2012;3115;;1537;2081;3681;2608;560;2703
284      11/10/2012;3746;;1857;2569;4694;3034;558;3457
285      12/10/2012;3169;;1460;2261;4045;2564;448;3224
286       13/10/2012;1783;;802;1205;2113;1183;681;2309
287             14/10/2012;587;;287;443;852;503;65;952
288      15/10/2012;3292;;1678;2165;4197;2754;560;3183
289      16/10/2012;3739;;1858;2684;4681;2997;554;3593
290      17/10/2012;4098;;1964;2645;4836;3063;728;3834
291     18/10/2012;4671;;2292;3129;5542;3477;1108;4245
292        19/10/2012;1313;;597;885;1668;1209;111;1486
293       20/10/2012;2011;;748;1323;2266;1213;797;2243
294         21/10/2012;1277;;609;869;1777;898;242;1648
295      22/10/2012;3650;;1819;2495;4800;3023;757;3721
296      23/10/2012;4177;;1997;2795;5216;3233;795;3554
297      24/10/2012;3744;;1868;2625;4900;3035;649;3622
298      25/10/2012;3735;;1815;2528;5010;3017;631;3767
299     26/10/2012;4290;;1987;2754;5246;3000;1456;4578
300       27/10/2012;1857;;792;1244;2461;1193;618;2471
301         28/10/2012;1310;;697;910;1776;955;387;1876
302      29/10/2012;2919;;1458;2071;3768;2440;411;2795
303      30/10/2012;2887;;1251;2007;3516;2255;338;2790
304      31/10/2012;2634;;1294;1835;3453;2220;245;2570
305      01/11/2012;2405;;1208;1701;3082;2076;165;2461
306        02/11/2012;1582;;737;1109;2277;1392;97;1888
307          03/11/2012;844;;380;612;1137;713;105;1302
308          04/11/2012;966;;446;710;1277;692;197;1374
309      05/11/2012;2247;;1170;1705;3221;2143;179;2430

[310 rows x 1 columns]

In [18]:
bikes = pd.read_csv('bikes.csv', sep=';', parse_dates=['Date'], encoding='latin1', index_col='Date')
bikes

,Berri 1,Brébeuf (données non disponibles),Côte-Sainte-Catherine,Maisonneuve 1,Maisonneuve 2,du Parc,Pierre-Dupuy,Rachel1,St-Urbain (données non disponibles)
Date,,,,,,,,,
2012-01-01,35,NaN,0,38,51,26,10,16,NaN
2012-02-01,83,NaN,1,68,153,53,6,43,NaN
2012-03-01,135,NaN,2,104,248,89,3,58,NaN
2012-04-01,144,NaN,1,116,318,111,8,61,NaN
2012-05-01,197,NaN,2,124,330,97,13,95,NaN
2012-06-01,146,NaN,0,98,244,86,4,75,NaN
2012-07-01,98,NaN,2,80,108,53,6,54,NaN
2012-08-01,95,NaN,1,62,98,64,11,63,NaN
2012-09-01,244,NaN,2,165,432,198,12,173,NaN
2012-10-01,397,NaN,3,238,563,275,18,241,NaN
2012-11-01,273,NaN,0,182,443,258,12,194,NaN
2012-12-01,157,NaN,1,134,261,137,9,63,NaN
2012-01-13,75,NaN,0,41,105,64,2,0,NaN
2012-01-14,32,NaN,0,54,56,19,0,1,NaN
2012-01-15,54,NaN,0,33,60,18,0,0,NaN
2012-01-16,168,NaN,2,136,312,137,1,0,NaN
2012-01-17,155,NaN,0,86,256,74,0,0,NaN
2012-01-18,139,NaN,0,66,188,68,3,0,NaN
2012-01-19,191,NaN,1,104,248,79,3,0,NaN
2012-01-20,161,NaN,4,96,217,67,1,1,NaN
2012-01-21,53,NaN,0,47,70,32,1,0,NaN
2012-01-22,71,NaN,0,41,73,35,5,0,NaN
2012-01-23,210,NaN,6,114,357,91,6,0,NaN
2012-01-24,299,NaN,1,189,444,174,4,0,NaN
2012-01-25,334,NaN,1,217,453,180,4,0,NaN
2012-01-26,306,NaN,0,215,495,191,0,1,NaN
2012-01-27,91,NaN,5,79,204,65,0,0,NaN
2012-01-28,80,NaN,1,61,123,33,9,1,NaN
2012-01-29,87,NaN,1,65,132,40,7,0,NaN
2012-01-30,219,NaN,0,146,371,152,2,0,NaN
...,...,...,...,...,...,...,...,...,...
2012-07-10,1580,NaN,660,922,1629,860,695,2052,NaN
2012-08-10,1854,NaN,880,987,1818,1040,1115,2502,NaN
2012-09-10,4787,NaN,2210,3026,5138,3418,927,4078,NaN
2012-10-10,3115,NaN,1537,2081,3681,2608,560,2703,NaN
2012-11-10,3746,NaN,1857,2569,4694,3034,558,3457,NaN
2012-12-10,3169,NaN,1460,2261,4045,2564,448,3224,NaN
2012-10-13,1783,NaN,802,1205,2113,1183,681,2309,NaN
2012-10-14,587,NaN,287,443,852,503,65,952,NaN
2012-10-15,3292,NaN,1678,2165,4197,2754,560,3183,NaN
2012-10-16,3739,NaN,1858,2684,4681,2997,554,3593,NaN
2012-10-17,4098,NaN,1964,2645,4836,3063,728,3834,NaN
2012-10-18,4671,NaN,2292,3129,5542,3477,1108,4245,NaN
2012-10-19,1313,NaN,597,885,1668,1209,111,1486,NaN
2012-10-20,2011,NaN,748,1323,2266,1213,797,2243,NaN
2012-10-21,1277,NaN,609,869,1777,898,242,1648,NaN
2012-10-22,3650,NaN,1819,2495,4800,3023,757,3721,NaN
2012-10-23,4177,NaN,1997,2795,5216,3233,795,3554,NaN
2012-10-24,3744,NaN,1868,2625,4900,3035,649,3622,NaN
2012-10-25,3735,NaN,1815,2528,5010,3017,631,3767,NaN
2012-10-26,4290,NaN,1987,2754,5246,3000,1456,4578,NaN
2012-10-27,1857,NaN,792,1244,2461,1193,618,2471,NaN
2012-10-28,1310,NaN,697,910,1776,955,387,1876,NaN
2012-10-29,2919,NaN,1458,2071,3768,2440,411,2795,NaN
2012-10-30,2887,NaN,1251,2007,3516,2255,338,2790,NaN
2012-10-31,2634,NaN,1294,1835,3453,2220,245,2570,NaN
2012-01-11,2405,NaN,1208,1701,3082,2076,165,2461,NaN
2012-02-11,1582,NaN,737,1109,2277,1392,97,1888,NaN
2012-03-11,844,NaN,380,612,1137,713,105,1302,NaN
2012-04-11,966,NaN,446,710,1277,692,197,1374,NaN
2012-05-11,2247,NaN,1170,1705,3221,2143,179,2430,NaN

更多关于read_csv的说明请查阅documentation

[read_csv](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

In [19]:
bikes.head()

,Berri 1,Brébeuf (données non disponibles),Côte-Sainte-Catherine,Maisonneuve 1,Maisonneuve 2,du Parc,Pierre-Dupuy,Rachel1,St-Urbain (données non disponibles)
Date,,,,,,,,,
2012-01-01,35,NaN,0,38,51,26,10,16,NaN
2012-02-01,83,NaN,1,68,153,53,6,43,NaN
2012-03-01,135,NaN,2,104,248,89,3,58,NaN
2012-04-01,144,NaN,1,116,318,111,8,61,NaN
2012-05-01,197,NaN,2,124,330,97,13,95,NaN

In [20]:
bikes[:5]

,Berri 1,Brébeuf (données non disponibles),Côte-Sainte-Catherine,Maisonneuve 1,Maisonneuve 2,du Parc,Pierre-Dupuy,Rachel1,St-Urbain (données non disponibles)
Date,,,,,,,,,
2012-01-01,35,NaN,0,38,51,26,10,16,NaN
2012-02-01,83,NaN,1,68,153,53,6,43,NaN
2012-03-01,135,NaN,2,104,248,89,3,58,NaN
2012-04-01,144,NaN,1,116,318,111,8,61,NaN
2012-05-01,197,NaN,2,124,330,97,13,95,NaN

In [24]:
berri_bikes = bikes[['Berri 1']].copy()
berri_bikes.head()

            Berri 1
Date
2012-01-01       35
2012-02-01       83
2012-03-01      135
2012-04-01      144
2012-05-01      197

In [27]:
berri_bikes.index

DatetimeIndex(['2012-01-01', '2012-02-01', '2012-03-01', '2012-04-01',
               '2012-05-01', '2012-06-01', '2012-07-01', '2012-08-01',
               '2012-09-01', '2012-10-01',
               ...
               '2012-10-27', '2012-10-28', '2012-10-29', '2012-10-30',
               '2012-10-31', '2012-01-11', '2012-02-11', '2012-03-11',
               '2012-04-11', '2012-05-11'],
              dtype='datetime64[ns]', name='Date', length=310, freq=None)

In [28]:
berri_bikes.index.day

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2, 13, 14, 15, 16, 17, 18, 19, 20,
       21, 22, 23, 24, 25, 26, 27, 28, 29,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,
       26, 27, 28, 29, 30, 31,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,
        4, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5, 13, 14, 15,
       16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30,  7,  7,  7,  7,  7,
        7,  7,  7,  7,  7,  7,  7, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
       23, 24, 25, 26, 27, 28, 29, 30, 31,  8,  8,  8,  8,  8,  8,  8,  8,
        8,  8,  8,  8, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,
       26, 27, 28, 29, 30, 31,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 13, 14, 15,
       16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 11,
       11, 11, 11, 11])

In [29]:
berri_bikes.index.weekday

array([6, 2, 3, 6, 1, 4, 6, 2, 5, 0, 3, 5, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0,
       1, 2, 3, 4, 5, 6, 0, 1, 0, 3, 4, 0, 2, 5, 0, 3, 6, 1, 4, 6, 0, 1, 2,
       3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 1, 4, 5, 1, 3, 6, 1, 4, 0,
       2, 5, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 2,
       5, 6, 2, 4, 0, 2, 5, 1, 3, 6, 1, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1,
       2, 3, 4, 5, 6, 0, 3, 6, 0, 3, 5, 1, 3, 6, 2, 4, 0, 2, 6, 0, 1, 2, 3,
       4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 0, 1, 4, 6, 2, 4, 0, 3,
       5, 1, 3, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 5, 1,
       2, 5, 0, 3, 5, 1, 4, 6, 2, 4, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2,
       3, 4, 5, 6, 0, 1, 6, 2, 3, 6, 1, 4, 6, 2, 5, 0, 3, 5, 0, 1, 2, 3, 4,
       5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 0, 3, 4, 0, 2, 5, 0, 3, 6,
       1, 4, 6, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 1, 4,
       5, 1, 3, 6, 1, 4, 0, 2, 5, 0, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3,
       4, 5, 6, 0, 1, 2, 2, 5, 6, 2, 4])

In [30]:
berri_bikes.loc[:, 'weekday'] = berri_bikes.index.weekday
berri_bikes[:5]

            Berri 1  weekday
Date
2012-01-01       35        6
2012-02-01       83        2
2012-03-01      135        3
2012-04-01      144        6
2012-05-01      197        1

In [ ]:
有了weekday信息之后，我们就可以把